src/main/mule/jenkins-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="d285f7fd-5628-4201-ad89-e4043c12856e" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="jenkins-demoFlow" doc:id="fd3d6ddf-28ef-48e8-b542-2a49890d6d82" >
		<http:listener doc:name="Listener" doc:id="241a0a59-bc88-4b7b-8888-5b5d0d1cf30c" config-ref="HTTP_Listener_config" path="/jenkinsjob"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="6cc858af-51a8-4d25-bd94-117342c08576" />
	</flow>
</mule>
